In [1]:
import pandas as pd
from geopy.geocoders import Nominatim

In [2]:
final_dataset = pd.read_csv('/Users/Grant/Desktop/research/research_data.csv', index_col=0)
final_dataset.head()

,address,lat_long,name
0,"626 E Manchester Ave, Los Angeles, CA 90001, U...","{'location': {'lat': 33.9597758, 'lng': -118.2...",Smoke Shop
1,"5968 Santa Fe Ave, Huntington Park, CA 90255, ...","{'location': {'lat': 33.9878515, 'lng': -118.2...",The Spot Smoke Shop
2,"1804 Firestone Blvd, Los Angeles, CA 90001, Un...","{'location': {'lat': 33.95994659999999, 'lng':...",TNT Tobacco Store
3,"7610 San Pedro St, Los Angeles, CA 90003, Unit...","{'location': {'lat': 33.9709491, 'lng': -118.2...",Morelos Smoke Shop
4,"7300 San Pedro St, Los Angeles, CA 90003, Unit...","{'location': {'lat': 33.973667, 'lng': -118.26...",D & D Smoke Shop

In [4]:
addresses = final_dataset['address']

geolocator = Nominatim(user_agent='research_geocode')

lat = []
long = []
for address in addresses: 
    try:
        location = geolocator.geocode({address})
        lat.append(location.latitude)
        long.append(location.longitude)
    except: 
        pass

In [6]:
lat_long = {'latitude': lat, 'longitude': long}
df = pd.DataFrame(lat_long)
file_name = '/Users/Grant/Desktop/research/lat_long.csv'
df.to_csv(file_name, columns=['latitude', 'longitude'])
df.head(20)

     latitude   longitude
0   33.960050 -118.264467
1   33.987843 -118.230181
2   33.960065 -118.240581
3   34.041848 -118.245602
4   34.041848 -118.245602
5   33.974110 -118.234613
6   34.053691 -118.242767
7   33.964168 -118.278301
8   33.964168 -118.278301
9   33.974389 -118.227967
10  34.041848 -118.245602
11  33.982413 -118.225203
12  33.974692 -118.253027
13  33.985936 -118.291496
14  34.003691 -118.273879
15  33.948167 -118.273774
16  33.973889 -118.222910
17  33.923119 -118.254342
18  33.943057 -118.237791
19  33.959809 -118.394925